<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>The Fisher-Yates algorithm</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<main class="container">
    <div class="text-center">
        <div class="p-4 p-md-5 mb-4 text-black rounded">
            <h1 class="display-4 fst-italic">Случайности не случайны.</h1>
            <p class="lead my-3">Случайность - это всего лишь частный случай закономерности, которые мы не в состоянии расшивровать!</p>
            <img src="img/joke.jpg" alt="Мем про рандомные числа" width="1100" height="400">
        </div>
    </div>

</main>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>