<div th:fragment="footer">
    <footer class="text-muted py-5">
        <div class="container">
            <a class="py-2" href="/error" aria-label="Product">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                     stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img"
                     viewBox="0 0 24 24"><title>Главная страница</title>
                    <circle cx="12" cy="12" r="10"></circle>
                    <path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path>
                </svg>
            </a>
            <p class="mb-1">© 2022 Made by Artem, Inc.</p>
            <p class="mb-1">Все права защищены.</p>
        </div>
    </footer>
</div>